<% 
  if(mode === "development") {
    rootDirectory = siteSetting.siteDomainDevelopment;
  } else {
    rootDirectory = siteSetting.siteDomainProduction;
  }
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <!-- GAタグのhead部分 -->
  <%- include('includes/analytics/_head'); %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= meta.title %></title>
  <link rel="manifest" href="<%- rootDirectory %>manifest.webmanifest">
  <link rel="icon" href="<%- rootDirectory %>assets/images/meta/favicon.ico" sizes="any">
  <link rel="icon" href="<%- rootDirectory %>assets/images/meta/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%- rootDirectory %>assets/images/meta/apple-touch-icon.png">
  <meta name="description" content="<%- meta.description %>">
  <meta property="og:title" content="<%= meta.title %>" />
  <meta property="og:description" content="<%- meta.description %>" />
  <meta property="og:site_name" content="<%= siteSetting.siteName %>">
  <link rel="stylesheet" href="/scss/style.scss">
</head>
<body class="<%= meta.pageClass %>">
  <!-- GAタグのbody部分 -->
  <%- include('includes/analytics/_body'); %>
  <%- include('includes/components/_header',  {meta: meta}); %>